---
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    assignees:
      - "zbhavyai"
    open-pull-requests-limit: 1
    groups:
      actions-dependencies:
        patterns:
          - "*"
    pull-request-branch-name:
      separator: "-"
