name: quoteweaver

services:
  quoteweaver:
    build:
      context: .
      dockerfile: Dockerfile.jvm
      args:
        BUILD_COMMIT: "${BUILD_COMMIT}"
    image: localhost/quoteweaver:${BUILD_COMMIT}
    container_name: quoteweaver
    restart: unless-stopped
    environment:
      - BUILD_COMMIT=${BUILD_COMMIT}
    ports:
      - "8080:8080"
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--fail",
          "--silent",
          "--show-error",
          "http://localhost:8080/api/ping",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - net

networks:
  net:
    driver: bridge
