name: Post

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  daily-quote:
    runs-on: ubuntu-latest

    permissions:
      packages: read

    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run application
        run: |
          docker container run --rm \
            --env GEMINI_API_KEY="${{ secrets.GEMINI_API_KEY }}" \
            --env TWITTER_API_KEY="${{ secrets.TWITTER_API_KEY }}" \
            --env TWITTER_API_KEY_SECRET="${{ secrets.TWITTER_API_KEY_SECRET }}" \
            --env TWITTER_API_ACCESS_TOKEN="${{ secrets.TWITTER_API_ACCESS_TOKEN }}" \
            --env TWITTER_API_ACCESS_TOKEN_SECRET="${{ secrets.TWITTER_API_ACCESS_TOKEN_SECRET }}" \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
